<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2020 RAJKUMAR S
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.co.rajkumaar.amritarepo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".helpers.BillingItem"
        android:allowBackup="true"
        android:icon="@drawable/logosq"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logosq"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Dark"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".aums.activities.CoursesActivity"
            android:label="Your Courses"
            android:parentActivityName=".aums.activities.HomeActivity" />
        <activity
            android:name=".aums.activities.CourseResourcesActivity"
            android:label="Course Resources"
            android:parentActivityName=".aums.activities.CoursesActivity" />
        <activity
            android:name=".notifications.NotificationsActivity"
            android:label="Notifications"
            android:parentActivityName=".activities.LaunchingActivity" />
        <activity
            android:name=".about.activities.ContributorsActivity"
            android:label="Open Source Contributors"
            android:parentActivityName=".about.activities.AboutActivity" />
        <activity
            android:name=".opac.OPACAccountActivity"
            android:label="My account"
            android:parentActivityName=".opac.OPACHomeActivity" />
        <activity
            android:name=".opac.EResourcesActivity"
            android:label="E-Resources"
            android:parentActivityName=".opac.OPACHomeActivity" />
        <activity
            android:name=".opac.OPACHomeActivity"
            android:label="Library OPAC"
            android:parentActivityName=".activities.LaunchingActivity" />
        <activity
            android:name=".timings.TimingsHomeActivity"
            android:label="Timings"
            android:parentActivityName=".activities.LaunchingActivity" />
        <activity
            android:name=".opac.BookDetailActivity"
            android:label="Book Details"
            android:parentActivityName=".opac.SearchResultsActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9341647677012996~5941760118" />

        <activity
            android:name=".study_materials.StudyMaterialsActivity"
            android:parentActivityName=".activities.LaunchingActivity" />
        <activity
            android:name=".opac.SearchResultsActivity"
            android:label="Search Results"
            android:launchMode="singleTop"
            android:parentActivityName=".opac.OPACHomeActivity" />
        <activity
            android:name=".opac.OPACSearchActivity"
            android:label="OPAC Search"
            android:launchMode="singleTop"
            android:parentActivityName=".opac.OPACHomeActivity" />
        <activity
            android:name=".activities.SupportActivity"
            android:label="Support"
            android:parentActivityName=".activities.LaunchingActivity" />
        <activity
            android:name=".news.NewsActivity"
            android:label="Latest News"
            android:parentActivityName=".activities.LaunchingActivity" />
        <activity
            android:name=".aumsV2.activities.AttendanceActivity"
            android:label="AUMS - Attendance"
            android:parentActivityName=".aumsV2.activities.AttendanceSemestersActivity" />
        <activity
            android:name=".aumsV2.activities.GradesSemestersActivity"
            android:label="Available Semesters"
            android:parentActivityName=".aumsV2.activities.HomeActivity" />
        <activity
            android:name=".aumsV2.activities.AttendanceSemestersActivity"
            android:label="Available Semesters"
            android:parentActivityName=".aumsV2.activities.HomeActivity" />
        <activity
            android:name=".aumsV2.activities.HomeActivity"
            android:label="AUMS - Home" />
        <activity
            android:name=".aumsV2.activities.LoginActivity"
            android:label="AUMS - Login"
            android:parentActivityName=".activities.LaunchingActivity" />
        <activity
            android:name=".timings.ShuttleBusTimingsActivity"
            android:label="Timings"
            android:parentActivityName=".timings.TimingsHomeActivity" />
        <activity
            android:name=".faq.ExamsFAQActivity"
            android:parentActivityName=".activities.LaunchingActivity" />

        <receiver android:name=".widgets.ImageWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/academic_timetable_info" />
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service android:name=".helpers.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.LaunchingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.App.NoActionBar.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".downloads.DownloadsActivity"
            android:label="Downloads"
            android:parentActivityName=".activities.LaunchingActivity" />
        <activity
            android:name=".about.activities.AboutActivity"
            android:label="About"
            android:parentActivityName=".activities.LaunchingActivity" />
        <activity
            android:name=".papers.SemesterActivity"
            android:label="Semesters"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.LaunchingActivity" />
        <activity
            android:name=".timetable.AcademicTimetableActivity"
            android:label="Academic Timetable"
            android:parentActivityName=".activities.LaunchingActivity"
            android:screenOrientation="fullSensor" />

        <provider
            android:name=".helpers.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".papers.AssessmentsActivity"
            android:label="Assessments"
            android:launchMode="singleTop"
            android:parentActivityName=".papers.SemesterActivity" />
        <activity
            android:name=".papers.SubjectsActivity"
            android:label="Subjects"
            android:launchMode="singleTop"
            android:parentActivityName=".papers.AssessmentsActivity" />
        <activity
            android:name=".timetable.FacultyTimetableActivity"
            android:label="Faculty Timetable"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.LaunchingActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activities.WebViewActivity"
            android:parentActivityName=".timetable.AcademicTimetableActivity" />
        <activity
            android:name=".wifistatus.WifiStatusActivity"
            android:label="WiFi Status"
            android:parentActivityName=".activities.LaunchingActivity" />
        <activity
            android:name=".examschedule.ExamCategoryActivity"
            android:label="Examination Schedule"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.LaunchingActivity" />
        <activity
            android:name=".examschedule.ExamsListActivity"
            android:label="Examinations"
            android:parentActivityName=".examschedule.ExamCategoryActivity" />
        <activity
            android:name=".curriculum.CurriculumActivity"
            android:label="Curriculum Info"
            android:parentActivityName=".activities.LaunchingActivity" />
        <activity
            android:name=".downloads.DeleteFilesActivity"
            android:label="Delete multiple files"
            android:parentActivityName=".downloads.DownloadsActivity" />
        <activity
            android:name=".aums.activities.LoginActivity"
            android:label="AUMS Login"
            android:parentActivityName=".activities.LaunchingActivity" />
        <activity
            android:name=".aums.activities.HomeActivity"
            android:label="AUMS Home"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".aums.activities.AttendanceActivity"
            android:label="Attendance Status"
            android:parentActivityName=".aums.activities.HomeActivity" />
        <activity
            android:name=".aums.activities.GradesActivity"
            android:label="Your Grades"
            android:parentActivityName=".aums.activities.HomeActivity" />
        <activity
            android:name=".aums.activities.MarksActivity"
            android:label="Your Marks"
            android:parentActivityName=".aums.activities.HomeActivity" />
        <activity
            android:name=".timings.PublicTransportsActivity"
            android:label="Timings" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".activities.LaunchingActivity" />
        <activity
            android:name=".aumsV2.activities.GradesActivity"
            android:label="AUMS - Grades"
            android:parentActivityName=".aumsV2.activities.HomeActivity" />
        <activity
            android:name=".downloads.FTPActivity"
            android:label="Share files"
            android:parentActivityName=".downloads.DownloadsActivity" />
    </application>

</manifest>