<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.co.rajkumaar.amritarepo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logosq"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logosq"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9174356806392379~6301089510" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".LaunchingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DownloadsActivity"
            android:label="Downloads"
            android:parentActivityName=".LaunchingActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".LaunchingActivity" />
        <activity
            android:name=".SemesterActivity"
            android:label="Semesters"
            android:launchMode="singleTop"
            android:parentActivityName=".LaunchingActivity" />
        <activity
            android:name=".TimetableActivity"
            android:label="Timetable"
            android:launchMode="singleTop"
            android:parentActivityName=".LaunchingActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".AssessmentsActivity"
            android:label="Assessments"
            android:launchMode="singleTop"
            android:parentActivityName=".SemesterActivity" />
        <activity
            android:name=".SubjectsActivity"
            android:label="Subjects"
            android:launchMode="singleTop"
            android:parentActivityName=".AssessmentsActivity" />
        <activity
            android:name=".FacultyTimetable"
            android:label="Faculty Timetable"
            android:launchMode="singleTop"
            android:parentActivityName=".LaunchingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewActivity"
            android:parentActivityName=".TimetableActivity" />
        <activity
            android:name=".WifiStatus"
            android:label="Campus Wifi Status"
            android:parentActivityName=".LaunchingActivity" />
        <activity
            android:name=".ExamSchedule"
            android:label="Examination Schedule"
            android:launchMode="singleTop"
            android:parentActivityName=".LaunchingActivity" />
        <activity
            android:name=".ExamsUnderEachDept"
            android:label="Examinations"
            android:parentActivityName=".ExamSchedule" />
        <activity
            android:name=".CurriculumActivity"
            android:label="Curriculum Info"
            android:parentActivityName=".LaunchingActivity" />
        <activity
            android:name=".DeleteFiles"
            android:label="Delete multiple files"
            android:parentActivityName=".DownloadsActivity" />
        <activity
            android:name=".aums.LoginActivity"
            android:label="AUMS Login"
            android:parentActivityName=".LaunchingActivity" />
        <activity
            android:name=".aums.HomeActivity"
            android:label="AUMS Home"
            android:launchMode="singleTop"
            android:parentActivityName=".LaunchingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aums.AttendanceActivity"
            android:label="Attendance Status"
            android:parentActivityName=".aums.HomeActivity" />
        <activity
            android:name=".aums.GradesActivity"
            android:label="Your Grades"
            android:parentActivityName=".aums.HomeActivity" />
        <activity android:name=".aums.MarksActivity"
            android:label="Your Marks"
            android:parentActivityName=".aums.HomeActivity"/>
    </application>

</manifest>