<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.co.rajkumaar.amritarepo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/logosq"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logosq"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LaunchingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DownloadsActivity"
            android:label="Downloads"
            android:parentActivityName=".LaunchingActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".LaunchingActivity" />
        <activity
            android:name=".SemesterActivity"
            android:label="Semesters"
            android:launchMode="singleTop"
            android:parentActivityName=".LaunchingActivity" />
        <activity
            android:name=".TimetableActivity"
            android:label="Timetable"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName=".LaunchingActivity" />

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name=".AssessmentsActivity"
            android:label="Assessments"
            android:launchMode="singleTop"
            android:parentActivityName=".SemesterActivity" />
        <activity
            android:name=".SubjectsActivity"
            android:label="Subjects"
            android:launchMode="singleTop"
            android:parentActivityName=".AssessmentsActivity" />
        <activity
            android:name=".FacultyTimetable"
            android:label="Faculty Timetable"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName=".LaunchingActivity" />
        <activity
            android:name=".WebViewActivity"
            android:parentActivityName=".TimetableActivity" />
        <activity
            android:name=".WifiStatus"
            android:label="Campus Wifi Status"
            android:parentActivityName=".LaunchingActivity" />

    </application>

</manifest>